<div class="row">
  <div class="hide-for-small hide-for-medium large-12 columns panel">
    <h4>Welcome to SubSearch!</h4>
    <p>
      Find subtitles for your movies with ease!
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns panel callout">
    <p>
      Finding subtitles has never been so easy.
      <br />
      Using the form below, select your video file on your computer, then click the "Search!" button and let the magic operate!
    </p>
  </div>
</div>

<%= render 'form' %>

<div id="results">
</div>
